# Visual Studio
.vs/
*.user
*.suo
*.VC.db

# Build results
x64/
x86/
Debug/
Release/
*.exe
*.dll
*.obj
*.pdb
*.idb
*.ipch
*.cache
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# SFML binaries
SFML-*/bin/
SFML-*/lib/
