# Visual Studio
.vs/
*.vcxproj*
*.sln
*.user
*.aps
*.ncb
*.opendb
*.obj
*.log
*.pdb
*.idb

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeSettings.json
CMakeUserPresets.json
CMakePresets.json
Testing/
compile_commands.json

# Output folders
out/
build/
bin/
Debug/
Release/
x64/
x86/

# Others
*.exe
*.dll
*.lib
*.exp
*.ilk

# OS-generated
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*.sublime*
*.code-workspace
.vscode/